<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <var name="db_dsn" value="mysql:dbname=blog;host=localhost"/>
        <var name="db_username" value="blog"/>
        <var name="db_password" value="S51@akRv"/>
    </php>

    <testsuites>
        <testsuite name="Hello World Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>